<br></br>
<%= javascript_include_tags("https://code.jquery.com/jquery-2.2.4.min.js", "https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js") %>

<%= stylesheet_include_tags("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css") %>

<div class="container">
  <div class="jumbotron">
    <a class="btn btn-lg btn-primary" href="/v1/timings/daily?timestamp=<%= Time.now.to_i %>&hide_optional_fields=false" role="button">API Data</a></p>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action">
          <%= countdown("Fajr", timings.fajr) %>
        </li>
        <li class="list-group-item list-group-item-action">
          <%= countdown("Dhuhr", timings.dhuhr) %>
        </li>
        <li class="list-group-item list-group-item-action">
          <%= countdown("Asr", timings.asr) %>
        </li>
        <li class="list-group-item list-group-item-action">
          <%= countdown("Maghrib", timings.maghrib) %>
        </li>
        <li class="list-group-item list-group-item-action">
          <%= countdown("Isha", timings.isha) %>
        </li>
      </ul>
    </div>

    <footer class="footer">
      <p>© DawaTools 2016-2017</p>
    </footer>

  </div>

  <script type="text/javascript">
  $(document).ready(function() {
    var onCountdown = 0;
    $('[data-countdown]').each(function(idx,el){
      $(el).text( $(el).data('countdown').split(' ')[1] );
    });

    function startCountdown( i ) {
      var $this = $('[data-countdown]').eq( i ),
      finalDate = $this.data('countdown'),
      elapsed = false;

      $this.countdown(finalDate, function(event) {
        if( elapsed ) return;

        if (event.elapsed) {
          elapsed = true;

          $this.html(finalDate.split(' ')[1]).
            parent().removeClass('active').addClass('disabled');
          startCountdown( ++onCountdown );
        } else {
          var format = 'in %Hh %Mm';
          if (event.offset.totalHours <= 0) {
            format = 'in %Mm %Ss';
          };
          $this.html(event.strftime(format)).parent().addClass('active');
        }
      });
    }
    startCountdown( onCountdown );
  });

  </script>
