<br></br>
<%= javascript_include_tags("https://code.jquery.com/jquery-2.2.4.min.js", "https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js") %>
<%= stylesheet_include_tags("https://bootswatch.com/4/yeti/bootstrap.min.css") %>

<div class="container">
  <a class="btn btn-outline-primary" href="/v1/timings/daily?timestamp=<%= Time.now.to_i %>&hide_optional_fields=false" role="button">API Data</a></p>

  <ul class="list-group">
    <li class="list-group-item list-group-item-action flex-column align-items-start">
      <%= countdown("Fajr", timings.fajr) %>
    </li>
    <li class="list-group-item list-group-item-action flex-column align-items-start">
      <%= countdown("Dhuhr", timings.dhuhr) %>
    </li>
    <li class="list-group-item list-group-item-action flex-column align-items-start">
      <%= countdown("Asr", timings.asr) %>
    </li>
    <li class="list-group-item list-group-item-action flex-column align-items-start">
      <%= countdown("Maghrib", timings.maghrib) %>
    </li>
    <li class="list-group-item list-group-item-action flex-column align-items-start">
      <%= countdown("Isha", timings.isha) %>
    </li>
  </ul>

  <footer class="footer" style="padding-top:20px;">
    <p>© DawaTools 2016-<%= current_year %></p>
  </footer>

  <style>
.active {
  padding: 3.75rem 1.25rem;
  font-size: x-large;
}
    .list-group-item { text-align: center; }
  </style>

  <script type="text/javascript">
    $(document).ready(function() {
      var onCountdown = 0;
      $('[data-countdown]').each(function(idx,el){
        $(el).text( $(el).data('countdown').split(' ')[1] );
      });

      function startCountdown( i ) {
        var $this = $('[data-countdown]').eq( i ),
          finalDate = $this.data('countdown'),
          elapsed = false;

        $this.countdown(finalDate, function(event) {
          if( elapsed ) return;

          if (event.elapsed) {
            elapsed = true;

            $this.html(finalDate.split(' ')[1]).
              parent().removeClass('active').addClass('disabled');
            startCountdown( ++onCountdown );
          } else {
            var format = 'in %Hh %Mm';
            if (event.offset.totalHours <= 0) {
              format = 'in %Mm %Ss';
            };
            $this.html(event.strftime(format)).parent().addClass('active');
          }
        });
      }
      startCountdown( onCountdown );
    });

  </script>
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
  <script>
    var OneSignal = window.OneSignal || [];
OneSignal.push(function() {
  OneSignal.init({
    appId: "bab46e1e-c306-429f-8fe2-58759077212f",
  });
});
  </script>
