<br></br>
<% @date = Date.today.strftime("%Y/%m/%d") %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>

<div class="container">
  <div class="jumbotron">
  </p>
  <p><a class="btn btn-lg btn-primary" href="/v1/timings/daily?timestamp=<%= Time.now.to_i %>" role="button">API Data</a></p>

  <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item active">
          Fajr<div data-countdown="<%= @date %> <%= timings.fajr %>:00"</div>
        </li>
        <li class="list-group-item list-group-item-action">
          Dhuhr<div data-countdown="<%= @date %> <%= timings.dhuhr %>:00"</div>
        </li>
        <li class="list-group-item list-group-item-action">
          Asr<div data-countdown="<%= @date %> <%= timings.asr %>:00"</div>
        </li>
        <li class="list-group-item list-group-item-action">
          Maghrib<div data-countdown="<%= @date %> <%= timings.maghrib %>:00"</div>
        </li>
        <li class="list-group-item list-group-item-action">
          Isha<div data-countdown="<%= @date %> <%= timings.isha %>:00"</div>
        </li>
      </ul>
  </div>

  <footer class="footer">
    <p>© DawaTools 2016-2017</p>
  </footer>

</div>

<script type="text/javascript">

$(document).ready(function() {
  var onCountdown = 0;

  $('[data-countdown]').each(function(idx,el){
    $(el).text( $(el).data('countdown').split(' ')[1] );
  });

  function startCountdown( i ) {
    var $this = $('[data-countdown]').eq( i ),
    finalDate = $this.data('countdown'),
    elapsed = false;

    $this.countdown(finalDate, function(event) {
      if( elapsed ) return;
      if (event.elapsed) {
        elapsed = true;
        $this.html(finalDate).parent().removeClass('active')
        $this.html(finalDate).parent().addClass('disabled');
        startCountdown( ++onCountdown );
      } else {
        $this.html(event.strftime('%H:%M:%S').parent().addClass('active'));
      }
    });
  }
  startCountdown( onCountdown );
});

</script>
