<%= javascript_include_tags("https://code.jquery.com/jquery-2.2.4.min.js") %>
<%= stylesheet_include_tags("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css") %>

<div class="container">
  <ul class="list-group" style="padding:10px;">
    <% zikirs.find_each do |zikir| %>
      <a href="/zikirs/<%= zikir.id %>" style="padding: 30px;" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2">
            <%= zikir.name %>
          </h5>
        </div>
        <p class="mb-1"><%= zikir.url %></p>
        <span class="badge badge-primary badge-pill"><%= zikir.duas.length %> </span>
      </a>
    <% end %>
  </ul>
</div>
