<%= javascript_include_tags("https://code.jquery.com/jquery-2.2.4.min.js") %>
<%= stylesheet_include_tags("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css") %>

<div class="container">
  <section class="jumbotron text-center" style="background-color: #fff;">
    <div class="container">
      <p class="h4"><%= zikir.id %> - <%= zikir.name %></p>
    </div>

    <div class="card-group">
      <% zikir.duas.each do |dua| %>
        <div class="col-md-12">
          <div class="bd-callout bd-callout-warning card text-venter mb-4">
            <div class="card-body">
              <h5 class="lead card-title" style="padding-bottom: 10px;"><%= dua.title %></h5>
              <h6 style="font-size:2.5rem; font-family:Adobe Arabic;" class="display-4 card-subtitle mb-2"><%= dua.arabic %></h6>
              <p class="card-text text-muted"><%= dua.transliteration %></p>
              <p class="card-text"><%= dua.translation %></p>

              <blockquote class=" font-italic blockquote mb-0">
                <%= dua.reference %>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>

<style>
  .bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .30rem;
    border-radius: .25rem;
  }

  .bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem;
  }

  .bd-callout p:last-child {
    margin-bottom: 0;
  }

  .bd-callout code {
    border-radius: .25rem;
  }

  .bd-callout + .bd-callout {
    margin-top: -.25rem;
  }

  .bd-callout-warning{
    border-left-color: #f0ad4e;
  }
</style>
